{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <p>
        {% blocktrans %}Already have an account? Then please 
    <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <div class="ui grid">
        <div class="six wide column">
            
            <form class="signup ui form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}

                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <button class="ui primary button" type="submit">
                    {% trans "Sign Up" %}
                </button>
            </form>
        </div>
    </div>

    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
